.animated-dotted-background {
  background-color:#09090b ;
  background-image: radial-gradient(#302e2e 1px, transparent 1px);
  background-size: 30px 30px;
  /* animation: moveDots 10s linear infinite; */
}
