:root {
  --bg-color: white;
  --dot-color: none;
  --txt: rgb(90, 81, 81);
}

.dark {
  --bg-color: #101011;
  --dot-color: #352828;
  --txt: white;
}


.background-dark {
  background-color: var(--bg-color);
  background-image: radial-gradient(var(--dot-color) 1px, transparent 1px);
  /* background-size: 30px 30px; */
}
.active {
  color: var(--txt);
}
